# git+https://github.com/supervisely/supervisely.git@some-test-branch

imagecorruptions==1.1.2
supervisely==6.73.234
supervisely[apps]==6.73.234

scipy
numpy
Cython
scikit-image
opencv-python-headless
Pillow
matplotlib
imgaug>=0.4
albumentations>0.5
graphviz
tqdm
pyyaml
easydict
torch>=1.4.0
torchvision>=0.5.0
tensorboard
future
cffi
ninja